Repository Libre-TrainSim/Libre-TrainSim, pull requests merged in 2022-09, with the labels that each got.

#392 Add Input Settings + Revamp Settings Menu
  src/Data/UI/styles/button_both.tres
  src/Data/UI/styles/button_center.tres
  src/Data/UI/styles/button_center_disabled.tres
  src/Data/UI/styles/button_center_focus.tres
  src/Data/UI/styles/button_center_hover.tres
  src/Data/UI/styles/button_center_normal.tres
  src/Data/UI/styles/button_center_pressed.tres
  src/Data/UI/styles/button_left.tres
  src/Data/UI/styles/button_right.tres
  src/Data/UI/styles/complete_menu.tres
  src/Data/UI/styles/panel_popup.tres
  src/Data/UI/styles/separator_hline.tres
  src/Translations/MainMenu.csv
  src/addons/jean28518.jTools/jSettings/JSettings.gd
  src/addons/jean28518.jTools/jSettings/JSettings.tscn
  src/addons/jean28518.jTools/jSettings/input_button.gd
  src/addons/jean28518.jTools/jSettings/input_button.tscn
  src/addons/jean28518.jTools/jSettings/input_map_resource.gd
  src/addons/jean28518.jTools/jSettings/input_presets/layout_lts.tres
  src/addons/jean28518.jTools/jSettings/input_presets/layout_openbve.tres
  src/addons/jean28518.jTools/jSettings/input_settings.gd
  src/addons/jean28518.jTools/jSettings/input_settings.tscn
  src/project.godot
Labels: enhancement, ux

#406 Fix Buildings Editing
  src/Editor/Modules/building_settings.gd
  src/Editor/Scripts/Editor.gd
Labels: bug, editor

#405 Work around crashes caused by Godot overriding the class_name storage
  src/addons/jean28518.jTools/jSettings/JSettings.gd
Labels: bug, crash, modding, ¯\_(ツ)_/¯

#402 Updated Bulgarian Translation
  src/Translations/Ingame.csv
  src/Translations/MainMenu.csv
Labels: translation

#413 Gizmo improvements
  src/Data/Scripts/Rail.gd
  src/Editor/Modules/Gizmo.tscn
  src/Editor/Scripts/Gizmo.gd
  src/authors.tres
Labels: bug, enhancement, editor
