Repository Libre-TrainSim/Libre-TrainSim, pull requests merged in 2022-05, with the labels that each got.

#359 Fix duplicate language selector problem
  src/addons/jean28518.jTools/jSettings/JSettings.gd
Labels: bug, cherrypick:0.9

#358 Apply default settings if override.cfg doesn't exist yet
  src/addons/jean28518.jTools/jSettings/JSettings.gd
  src/project.godot
Labels: bug, cherrypick:0.9

#361 Fix editor camera freed instance issues when modifying focus
  src/Editor/Scripts/editor_camera.gd
Labels: bug, editor, cherrypick:0.9

#362 Overhaul the material selector/editor
  src/Editor/Docks/RailAttachments/RailAttachments.tscn
  src/Editor/Editor.tscn
  src/Editor/Modules/BuildingSettings.gd
  src/Editor/Modules/building_settings.gd
  src/Editor/Modules/building_settings.tscn
  src/Editor/Modules/building_settings_pick_button.gd
Labels: bug, editor, cherrypick:0.9

#363 Address some warnings
  src/Data/Scripts/HUD.gd
  src/Data/Scripts/Player.gd
  src/Data/Scripts/Rail.gd
  src/Data/Scripts/Singletons/Math.gd
  src/Data/Scripts/Singletons/Root.gd
  src/Data/Scripts/Singletons/content_loader.gd
  src/Data/Scripts/StationJumper.gd
  src/Data/Scripts/World.gd
  src/Data/Scripts/chunk_manager.gd
  src/Data/UI/debug_ui.gd
  src/Data/UI/play_menu.gd
  src/Editor/Docks/RailAttachments/RailAttachments.gd
  src/Editor/Docks/RailBuilder/RailBuilder.gd
  src/Editor/Modules/Collider2D.gd
  src/Editor/Modules/Content_Selector.gd
  src/Editor/Modules/Rail2DCollider.gd
  src/Editor/Modules/RailLogic.gd
  src/Editor/Modules/building_settings.gd
  src/Editor/Scripts/EditorHUD.gd
  src/Editor/Scripts/Gizmo.gd
  src/Editor/Scripts/ScenarioConfiguration.gd
  src/Editor/Scripts/scenario_editor_selection.gd
  src/Editor/Scripts/scenario_map.gd
Labels: enhancement, code-quality

#364 Fix mod tools not creating new mods
  src/Data/Scripts/Singletons/Root.gd
  src/Data/Scripts/Singletons/file_tools.gd
  src/addons/libre_trainsim_modding_tools/empty_popup.tscn
  src/addons/libre_trainsim_modding_tools/new_mod_popup.gd
  src/project.godot
Labels: bug, modding, cherrypick:0.9

#365 Cherry-picks for 0.9 Batch 1 (beta2)
  src/Data/Scripts/Singletons/Root.gd
  src/Data/Scripts/Singletons/file_tools.gd
  src/Data/UI/main_menu.tscn
  src/Editor/Docks/RailAttachments/RailAttachments.tscn
  src/Editor/Editor.tscn
  src/Editor/Modules/BuildingSettings.gd
  src/Editor/Modules/building_settings.gd
  src/Editor/Modules/building_settings.tscn
  src/Editor/Modules/building_settings_pick_button.gd
  src/Editor/Scripts/editor_camera.gd
  src/addons/jean28518.jTools/jSettings/JSettings.gd
  src/addons/libre_trainsim_modding_tools/empty_popup.tscn
  src/addons/libre_trainsim_modding_tools/new_mod_popup.gd
  src/project.godot
Labels: bug, enhancement, editor

#370 Create issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: enhancement
